.form-container {
  padding: 30px;
  align-items: center;
}





.form {
  background-color: red;
  display: flex;
  height: 400px;
  width: 400px;
  flex-direction: column;
  justify-content: space-evenly;
  
  border-radius: 10px;

  margin-left: auto;
  align-items: center;
}