.dashboard-container {
    background-color: sandybrown;
    height: 400px;
    padding: 50px;
    display: flex;
    align-items: center;
}

.form-container {
 background-color: seagreen;
 height: 400px;
 padding: 30px;
  align-items: center;
}